.browser-not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.browser-not-found > p {
  font-size: 0.8rem;
  font-style: italic;
  color: #777;
  margin: 0;
}
.browser-not-found > div {
  display: flex;
}

@media (max-width: 576px) {
  .browser-not-found {
    width: 100%;
  }
  .browser-not-found > div {
    justify-content: space-between;
    gap: 10px;
  }
}
