.external-link {
  display: block;
  text-align: center;
  letter-spacing: 1px;
  text-decoration: none;
  font-size: 1rem;
  color: #eee;
  box-sizing: border-box;
  margin: 0 5px;
  padding: 5px 10px;
  border: 2px solid #777;
  border-radius: 5px;
}

.small {
  font-size: 0.8rem;
  padding: 2px 5px;
}

.large {
  font-size: 1.2rem;
  padding: 10px 20px;
}
