.App {
  background-color: #282c34;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 150px 1fr minmax(60px, auto);
  color: #eee;
}

.page {
  margin: 0 5px;
  box-sizing: border-box;
}

@media (min-width: 576px) {
  .page {
    margin: 0 5vw;
  }
}

@media (min-width: 768px) {
  .page {
    margin: 0 10vw;
  }
}

@media (min-width: 992px) {
  .page {
    margin: 0 15vw;
  }
}

@media (min-width: 1200px) {
  .page {
    margin: 0 20vw;
  }
}

@media (min-width: 1400px) {
  .page {
    width: 800px;
    margin: 0 auto;
  }
}
